<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>História da Fatec Sorocaba</title>
	</head>
	<body>
		<h1>História da Fatec Sorocaba</h1>
	</body>
</html>
